{% extends 'base.html' %}

{% block title %}Network List{% endblock %}

{% block content %}
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f2f2f2;
      }
      
      h1 {
        text-align: center;
        font-size: 2.5rem;
        margin-top: 2rem;
      }
      
      .my-link-class{
        display: block;
        padding: 1rem;
        margin: 1rem auto;
        width: 60%;
        background-color: #0077cc;
        color: #fff;
        text-align: center;
        text-decoration: none;
        font-weight: bold;
        border-radius: 10px;
        transition: all 0.3s ease;
      }
      
      a:hover {
        background-color: #005fa3;
        transform: translateY(-3px);
      }
      
      p {
        text-align: center;
        font-size: 1.2rem;
        margin-top: 2rem;
      }
      
</style>
<script src="https://kit.fontawesome.com/eaec4917e4.js" crossorigin="anonymous"></script>
    <h1><i class="fa-solid fa-network-wired"></i> Желілер</h1>
        {% for network in networks %}
        <a href="{% url 'network_detail' network.pk %}" class="my-link-class"><i class="fa-solid fa-network-wired"></i> {{ network.name }}</a>
        {% empty %}
            No networks found.
        {% endfor %}
{% endblock %}
