<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JavaScript - Drawing a Line</title>
</head>

<body>

    <h1>JavaScript - Drawing a Line</h1>

    <canvas id="canvas" height="4000" width="5000">
    </canvas>
    <script>
        function draw() {
            const canvas = document.querySelector('#canvas');
        
            if (!canvas.getContext) {
                return;
            }
            const ctx = canvas.getContext('2d');
        
            // set line stroke and line width
            ctx.strokeStyle = 'red';
            ctx.lineWidth = 5;
        
            // draw a red line
            ctx.beginPath();
            ctx.moveTo(637, 339.109375);
            ctx.lineTo(891, 339.109375);
            ctx.stroke();
        
        }
        draw();
    </script>

</body>

</html>